{% extends 'base.html' %}

{% block title %} Choose question {% endblock %}

{% block content %}
    <div id="jumbotronBox" class="jumbotron">
        <h1 id="welcomeJumboTitle">Future is in your hands!</h1>
        <button id="welcomeJumboButton" class="btn btn-primary">Learn</button>
    </div>
    <div id="welcomeColumnBox" class="row">
        <div class="col-md">
            <div id="welcomeColumnTitle"><span class="h3">Willpower</span></div>
        </div>
        <div class="col-md">
                <div id="welcomeColumnTitle"><span class="h3">Always work</span></div>
        </div>
        <div class="col-md">
                <div id="welcomeColumnTitle"><span class="h3">Always for people</span></div>
        </div>
    </div>
  
{% endblock %}