{% extends 'base.html' %}

{% block title %} Choose question {% endblock %}

{% block content %}
  <br>
  <h2>{{ question.question_text }}</h2>
  <br>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <form method="POST">
          {% csrf_token %}
          {% for choice in question.choice_set.all %}
              <input type="radio" name="choice_radio" value="{{choice}}"/>
              <span>{{choice}}</span>
              <br>     
          {% endfor %}
          <br>
          <input type="submit" class="btn-sm btn-primary" value="Vote"/>
        </form>
      </div>
    </div>
    <br>
{% endblock %}